.table-container{
    width: 50%;
    margin: auto;
    border: 1px solid black;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  
  a:active {
    position: relative;
    top: 1px;
  }

.gumb{
    display: flex;
    align-items: center;
}

.table-container {
  position: relative;
}

.desnoGore {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-row form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-row form input {
  flex: 1;
  margin-right: 10px;
}

.form-row form button {
  margin-left: 10px;
}